wandb
output/
*.pth
*.pt
experiment/output
experiment/mask_emb
experiment/texture_transformer
RADAM/
rq_vae_transformer/
StrDiffusion/
SVBRDF-Proceduralization/
*.safetensors
diffusers_1/
*.bin
**/__pycache__/
